.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    background: var(--secondary-600);
    padding-block: 3rem 5rem;
    margin-top: 2rem;
}

address {
    display: flex;
    gap: 2rem;
}

.link svg {
    height: 3rem;
    width: 3rem;
    transition: color 0.1s;
    color: var(--secondary-300);
}

.link svg:hover {
    color: var(--primary-400);
}

.footer strong {
    font-size: var(--text-md);
    color: var(--secondary-300);
    font-weight: var(--strong-font-weight);
}