.header {
    background: var(--gray-600);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding-block: 7.2rem;
}

.icon {
    width: 5rem;
}

.title {
    font-size: 4rem;
    font-weight: 900;
}

.title span {
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: var(--purple-900);
}

.titleLight {
    color: var(--purple-100);
}

.titleDark {
    color: var(--purple-700)
}