@keyframes showModal {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.curtain {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: var(--translucid);
}

.modalWrapper {
    position: relative;
    width: 100%;
}

.modal {
    position: absolute;
    top: 25%;
    right: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 4.5rem;

    max-width: 50rem;
    background: var(--secondary-600);
    padding-inline: 3rem;
    padding-block: 3rem 3.6rem;
    margin: auto;

    border: 2px solid var(--secondary-500);
    border-radius: 8px;
    box-shadow: 0px 2px 8px 0px #0000000f;

    animation: showModal 0.4s;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.header h2 {
    font-size: 2.8rem;
    color: var(--red-400);
}

.cancelIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cancelIcon svg {
    height: 2rem;
    width: 2rem;
    color: var(--secondary-200);

    transition: color 0.1s;
}

.cancelIcon:hover svg {
    color: var(--secondary-300);
}

.text {
    text-align: center;
    color: var(--secondary-100);
}

.text * {
    font-weight: var(--strong-font-weight);
}

.text span {
    display: block;

    background: var(--secondary-500);
    padding: 1rem 2rem;
    margin-inline: auto;
    margin-top: 2rem;

    width: fit-content;
    max-width: 90%;

    color: var(--secondary-200);
    font-size: var(--text-md);
    font-weight: 700;
    text-align: left;
    line-height: var(--leading);

    border-radius: 8px;
}

.control {
    display: flex;
    align-self: flex-end;
    gap: 2rem;
}

.control button {
    padding: 0.8rem 1.6rem;
    color: var(--white);
    border-radius: 8px;
    transition: opacity 0.1s, background-color 0.1s;
    box-shadow: none;
}

.control .cancel {
    background: var(--primary-400);
}

.control .cancel:hover {
    background: var(--primary-700);
}

.control .delete {
    background: var(--red-400);
    opacity: 0.5;
}

.control .delete:hover {
    opacity: 1;
}

@media (max-width: 1023px) {
    .modalWrapper {
        margin: 2rem;
    }
}