@keyframes showPlaceholder  {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;

    margin-top: 2.4rem;
    padding-block: 2.4rem;
    padding-block: 6.4rem;

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    animation: showPlaceholder 0.5s;
}

.placeholder svg {
    width: 5.6rem;
    height: 5.6rem;
    color: var(--gray-400);
}

.placeholderText {
    text-align: center;
    color: var(--gray-300);
    line-height: var(--leading);
}