.addTask {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    gap: 0.8rem;

    transform: translateY(-50%);
}

.addInput {
    display: flex;
    flex: 1;

    background: var(--secondary-400);
    padding: 1.6rem;

    border: 1px solid var(--secondary-500);
    border-radius: 8px;

    transition: border 0.1s, box-shadow 0.1s;
}

.addInput:focus {
    border-color: transparent;
}

.addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    background: var(--primary-700);
    padding-inline: 3rem;
    font-size: var(--text-md);
    border-radius: 8px;

    color: var(--white);

    transition: background-color 0.1s;
}

.addButton:not(:disabled):hover {
    background: var(--primary-400);
}


.addButton:disabled {
    opacity: 0.8;
    cursor: not-allowed;
}

.addButton svg {
    height: 2.4rem;
    width: 2.4rem;
}