.stats {
    display: flex;
    justify-content: space-between;

    margin-top: 7.2rem;
}

.stat {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-size: var(--text-md);
}

.stat strong {
    font-weight: var(--strong-font-weight);
}

.stat .light {
    color: var(--primary-400);
}

.stat .dark {
    color: var(--primary-700);
}

.stat .count {
    background: var(--secondary-400);
    padding: 0.2rem 0.8rem;
    border-radius: 999px;

    color: var(--secondary-200);
    font-size: var(--text-sm);
}
