.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.headerAndTaskAddWrapper {
    position: relative;
}

.statsAndTaskWrapper {
    flex: 1;
    width: 100%;
}

.taskList {
    padding-block: 1.2rem 2.4rem;
}