:root {
    --gray-100: #F2F2F2;
    --gray-200: #D9D9D9;
    --gray-300: #808080;
    --gray-400: #333333;
    --gray-500: #262626;
    --gray-600: #1A1A1A;

    --translucid: #1a1a1ab3;

    --purple-100: #BEC2FE;
    --purple-400: #8284FA;
    --purple-700: #5E60CE;
    --purple-900: #000142;

    --red-400: #E25858;

    --text-sm: 1.2rem;
    --text-md: 1.4rem;
    --text-lg: 1.6rem;

    --leading: 1.4;
}

:focus {
    outline: transparent;
}

::-webkit-scrollbar {
    background: var(--gray-400);
    padding-block: 2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gray-300); 
    border-radius: 8px;
    padding-block: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple-700);
}

::-webkit-scrollbar {
    width: 1rem;
}

button:focus,
input:focus {
    box-shadow: 0 0 0 2px var(--purple-700);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--gray-500);
    -webkit-font-smoothing: antialiased;
}

body,
input,
button,
textarea,
a {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: var(--text-lg);
    color: var(--gray-100);
}

input,
button {
    border: none;
    background: none;
}

button,
a {
    cursor: pointer;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 70.4rem;
    margin-inline: auto;
}

.modal-open {
    overflow: hidden;
}

@media (max-width: 1023px) {
    html {
        font-size: 55%;
    }

    .container {
        padding: 2rem;
    }
}